<div class="container d-flex flex-column">

    <div class="align-self-center mb-5">
        <h1 class="mt-5">Admin Panel</h1>
    </div>

    <div id="groups" class="d-flex flex-column">

        <div class="align-self-center mt-5">
            <h2>Groups</h2>
        </div>

        <form class="mb-4 w-50 align-self-center">
            <label for="groups">Choose a Group</label>
            <select class="form-control" name="group-form" [ngModel]="selected_group" (ngModelChange)="getChannels($event)">
                <option *ngFor="let group of groups" [ngValue]="group" >{{ group.group_name }}</option>
            </select>
        </form>

        <div *ngIf="selected_group" class="mb-5 align-self-center">
            <button class="btn btn-outline-danger btn-sm" (click)="deleteGroupModal(groupDelete)">Delete</button>
            <button class="btn btn-success ml-5">New</button>
            <button class="btn btn-outline-primary btn-sm ml-5" (click)="editGroupModal(groupEdit)">Update</button>
        </div>

    </div>

    <div id="channels" class="d-flex flex-column mt-5">

        <div class="align-self-center">
            <h2>Channels</h2>
        </div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Channel Users</th>
                <th>Channel Active Users</th>
                <th>Channel ID</th>
                <th>Group ID</th>
                <th>Actions</th>
            </tr>
            <tr class="pt-5" *ngFor="let channel of channels">
                <td>{{ channel.channel_name }}</td>
                <td>{{ channel.channel_users.length }}</td>
                <td>{{ channel.active_users.length }}</td>
                <td>{{ channel._id }}</td>
                <td>{{ channel.group_id }}</td>
                <td>
                    <button class="btn btn-outline-primary mb-2 mr-2" (click)="getChannelsUsers(channel)" (click)="openChannelEditModel(channelEdit)">Edit</button>
                </td>
            </tr>
        </table>

        <div *ngIf="selected_group" class="align-self-center mt-5">
            <button class="btn btn-success mb-2">New</button>
        </div>

    </div>
</div>

<ng-template #groupDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>You're about to delete group: <strong>{{ selected_group.group_name }}</strong></p>
    </div>
    <div class="modal-footer justify-content-between">
        <div class="btn-group">
            <button class="btn btn-outline-danger mb-2 mr-2 float-left" (click)="deleteGroup()" (click)="modal.close('Close click')">Delete</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </div>
</ng-template>

<ng-template #groupEdit let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Updating <strong>{{ selected_group.group_name }}</strong></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="groupId">Group ID</label>
                <input [formControl]="groupId" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="groupName">Name</label>
                <input [formControl]="groupName" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="groupAssistants">Group Assistants</label>
                <select multiple class="form-control" name="groupUsers">
                    <option *ngFor="let assistant of groupAssistants">{{ assistant.username }}  -  ({{ assistant.role }})</option>
                </select>
                <input  type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="groupUsers">Group Users</label>
                <select multiple class="form-control" name="groupUsers">
                    <option *ngFor="let user of groupUsers" value="{{user.user_id}}">{{ user.username }}  -  ({{ user.role }})</option>
                </select>
            </div>
            <!-- <div class="form-group">
                <label for="selected_user_add_channel">Add User to Channel</label>
                <select name="selected_user_add_channel" class="form-control" [ngModel]="selected_user_add_channel" (ngModelChange)="addUserToChannel($event)">
                    <option *ngFor="let allUser of allUsers" [ngValue]="allUser">{{ allUser.username }}</option>
                </select>
            </div>
            <div class="form-group">

            </div> -->
            <div class="modal-footer justify-content-between">
                <div class="btn-group">
                    <button class="btn btn-outline-danger mb-2 mr-2 float-left" (click)="modal.close('Close click')">Delete</button>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" >Update</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #channelEdit let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ channel.channel_name }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="channelid">Channel ID</label>
                <input [formControl]="channelId" type="text" class="form-control" name="">
            </div>
            <div class="form-group">
                <label for="cgroupid">Group ID</label>
                <input [formControl]="channelGroupId" type="text" class="form-control" name="cgroupid">
            </div>
            <div class="form-group">
                <label for="channelName">Channel Name</label>
                <input [formControl]="channelName" type="text" class="form-control" name="channelName" required>
            </div>
            <div class="form-group">
                <label for="channel_users">Channel Users</label>
                <select multiple class="form-control" name="channel_users">
                    <option *ngFor="let user of channelUsers" value="{{user.user_id}}">{{ user.username }}  -  ({{ user.role }})</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selected_user_add_channel">Add User to Channel</label>
                <select name="selected_user_add_channel" class="form-control" [ngModel]="selected_user_add_channel" (ngModelChange)="addUserToChannel($event)">
                    <option *ngFor="let allUser of allUsers" [ngValue]="allUser">{{ allUser.username }}</option>
                </select>
                <!-- FIX: not showing unless true -->
                <div class="alert-danger" >User already in the channel</div>
            </div>
            <div class="form-group">

            </div>
            <div class="modal-footer justify-content-between">
                <div class="btn-group">
                    <button class="btn btn-outline-danger mb-2 mr-2 float-left" (click)="deleteChannel()" (click)="modal.close('Close click')">Delete</button>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" (click)="updateChannel()">Update</button>
                    <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> -->
                </div>
            </div>
        </form>
    </div>
</ng-template>
