<div class="container">
    <h1>Admin Page</h1>
    <form class="mb-5 pb-5">
        <label for="groups">Group</label>
        <select class="form-control" name="group-form" [ngModel]="selected_group" (ngModelChange)="getChannels($event)">
            <option *ngFor="let group of groups" [ngValue]="group._id" >{{ group.group_name }}</option>
        </select>
    </form>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Channel Users</th>
            <th>Channel Active Users</th>
            <th>Channel ID</th>
            <th>Group ID</th>
            <th>Actions</th>
        </tr>
        <tr class="pt-5" *ngFor="let channel of channels">
            <td>{{ channel.channel_name }}</td>
            <td>{{ channel.channel_users.length }}</td>
            <td>{{ channel.active_users.length }}</td>
            <td>{{ channel._id }}</td>
            <td>{{ channel.group_id }}</td>
            <td>
                <button class="btn btn-outline-primary mb-2 mr-2" (click)="getChannelsUsers(channel)" (click)="openVerticallyCentered(content)">Edit</button>
            </td>
        </tr>

    </table>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ channel.channel_name }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="channelid">Channel ID</label>
                <input type="text" class="form-control" name="" value="{{ channel._id }}" placeholder="{{ channel._id }}" disabled>
            </div>
            <div class="form-group">
                <label for="channelid">Group ID</label>
                <input type="text" class="form-control" name="" value="{{ channel.group_id }}" placeholder="{{ channel.group_id }}" disabled>
            </div>
            <div class="form-group">
                <label for="channelname">Channel Name</label>
                <input type="text" class="form-control" name="" value="{{ channel.channel_name }}">
            </div>
            <div class="form-group">
                <label for="channel_users">Channel Users</label>
                <select multiple class="form-control" name="channel_users">
                    <option selected *ngFor="let user of channelUsers" value="{{user.user_id}}">{{ user.username }}  -  ({{ user.role }})</option>
                </select>
            </div>
            <!-- <div class="form-group">
                <label for="channel_user_add">Add User to Channel</label>
                <input type="text" class="form-control" name="channel_user_add">
                <select name="channel_user_add">
                    <option *ngFor="let allUser of usersNIC" value="{{allUser._id}}">{{ allUser.username }}</option>
                </select>
                <button class="btn btn-secondary">Add</button>
            </div> -->
            <div class="modal-footer justify-content-between">
                <div class="btn-group">
                    <button class="btn btn-outline-danger mb-2 mr-2 float-left" (click)="deleteChannel(channel)" (click)="modal.close('Close click')">Delete</button>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" (click)="updateChannel()">Update</button>
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
