<div class="container">

  <h3>Groups</h3>
  <div class="row">
    <div class="col-sm-5">
      <label for="groups">Choose a Group</label>
      <select name="groups" id="groups" class="form-control" [(ngModel)]="group" (change)=(groupSelected())>
          <option *ngFor="let g of groups" value="{{g.id}}">{{g.group_name}}</option>
      </select>
    </div>
  </div>
  <h3 class="mt-5">Channels</h3>
  <div class="row">
    <div class="col-sm-5">
      <label for="channels">Choose a Group</label>
      <select name="channels" id="channels" class="form-control" [(ngModel)]="channel">
          <option *ngFor="let c of channels" value="{{c.channel_name}}">{{c.channel_name}}</option>
      </select>
    </div>
  </div>
  <div class="row mt-5">
    <button (click)="join()" class="btn btn-primary mr-3" id="join" >Join</button>
    <button (click)="leave()" class="btn btn-primary" id="leave">Leave</button>
  </div>

  <br>

  <h3 class="mt-5">Messages</h3>
    <div class="row">
      <div class="well" style="height:200px; padding:15px;">
          <div *ngFor="let item of messages">
          <span><strong>{{item.username}} : </strong> {{item.message}}</span>
          </div>
      </div>
  </div>
  <div>
    <form>
      <div class="form-group">
        <label for="newMessage">New Message</label>
        <input type="text" [(ngModel)]="newMessage" class="form-control" id="newMessage" name="newMessage">
      </div>
      <div class="form-group">
        <button (click)="chat()" class="btn btn-primary mr-3">Send</button>
      </div>
    </form>
  </div>
</div>
