<div class="container d-flex flex-column w-25">
    <div class="mt-5">

        <div class="row">
            <h4>Select a Group</h4>
            <div class="col-sm-5 ml-3">
                <!-- <label for="groups">Choose a Group</label> -->
                <select [disabled]="clicked" name="groups" id="groups" class="custom-select" [ngModel]="group_selected" (ngModelChange)="groupSelected($event)">
                    <option *ngFor="let g of groups" [ngValue]="g">{{g.group_name}}</option>
                </select>
            </div>
        </div>

        <div *ngIf="channels != null" class="row mt-5">
            <h4>Select a Channel</h4>
            <div class="col-sm-5">
                <!-- <label for="channels">Choose a Channels</label> -->
                <select [disabled]="clicked" name="channels" id="channels" class="form-control custom-select" [ngModel]="channel_selected" (ngModelChange)="channelSelected($event)">
                    <option *ngFor="let c of channels" [ngValue]="c">{{c.channel_name}}</option>
                </select>
            </div>
        </div>
        <div *ngIf="channel_selected != null" class="row mt-5">
            <button [disabled]="clicked" (click)="join()" class="btn btn-success mr-3" id="join" >Join</button>
            <button [disabled]="!clicked" (click)="leave()" class="btn btn-danger" id="leave">Leave</button>
        </div>
    </div>

    <div *ngIf="clicked"><h1 class="mt-5 text-center row">Messages</h1></div>
    <div *ngIf="clicked" class="mt-5 row">

        <div >
            <ul class="list-unstyled">
                <li *ngFor="let item of messages"><span><strong>{{item.username}}:  </strong> {{item.message}}</span></li>
            </ul>
      </div>
    </div>
    <div *ngIf="clicked" class="row mt-5">
        <form>
          <div class="form-group">
            <label for="newMessage">New Message</label>
            <input type="text" [(ngModel)]="newMessage" class="form-control" id="newMessage" name="newMessage">
          </div>
        </form>
        <button (click)="chat()" class="btn btn-primary m-3">Send</button>
    </div>


</div>
