<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="wrapper fadeInDown">
  <h1 class="header">Login</h1>
  <div id="formContent">
    <!-- Login Form -->
    <form>
      <input type="text" [(ngModel)]="loginDetails.username" id="login" class="fadeIn second" name="login" placeholder="Username">
      <input type="password" [(ngModel)]="loginDetails.password" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input (click)="loginfunc()" type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>
