<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" [(ngModel)]="email" id="login" class="fadeIn second" name="login" placeholder="Email">
      <input type="password" [(ngModel)]="password" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input (click)="itemClicked()" type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
